@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
    padding: 0;
    margin: 0;
}

body {
    background: #000;
    overflow: hidden;
}

input[type="range"] {
    overflow: hidden;
    cursor: pointer;
    border-radius: 0;
    background-color: #000;
}

input[type="range"]:active, input[type="range"]:focus {
    outline: 0;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    border-radius: 0;
    background-color: #ec5f70;
    z-index: 1;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #363636;
}

canvas {
    position: fixed;
    margin-top: 0px;
    z-index: 1;
}

#title {
    font-family: 'Pacifico';
    font-weight: lighter;
    color: #fff;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 5px;
    position: absolute;
    z-index: 2;
}

#file_mode {
    width: auto;
    height: auto;
    margin: 50px 0 0 15px;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fileInput {
    display: none;
}

#fileInputButton {
    width: auto;
    height: 20px;
    padding: 2px 10px 2px 10px;
    font-family: 'Quicksand';
    font-size: 15px;
    font-weight: bolder;
    background: #fff;
    color: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modes {
    width: auto;
    font-family: 'Quicksand';
    font-size: 16px;
    font-weight: bolder;
    display: flex;
    margin-left: 10px;
    background-color: #fff;
    color: #000;
}

#modes:active, #modes:focus, #modes:visited {
    box-shadow: 0;
    outline: 0;
}

#controls {
    width: auto;
    height: auto;
    padding: 2px;
    background-color: #000;
    margin: 10px;
    margin-top: 85px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    z-index: 2;
}

#controls p {
    height: 20px;
    font-family: 'Quicksand';
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

#timeSlider {
    width: 300px;
    height: 20px;
    margin-left: 8px;
}

#timeSlider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    box-shadow: -1000px 0 0 1000px #f1737f;
}

#play_pause {
    width: 22px;
    height: 20px;
    /* background-color: red; */
    margin: 0;
    cursor: pointer;
}

#play_pause .bar {
    width: 2px;
    height: 20px;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    transition: .2s;
}

/* pause */
#play_pause .bar#one {
    margin: 0px 0 0 5px;
}

#play_pause .bar#two, #play_pause .bar#three{
    margin: 0px 0 0 20px;
    height: 5px;
}

#play_pause .bar#two {
    height: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#play_pause .bar#three {
    height: 10px;
    margin-top: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

/* play */
#play_pause .bar.play#two, #play_pause .bar.play#three {
    height: 15px;
    border-radius: 5px;
}

#play_pause .bar.play#two {
    transform-origin: bottom left;
    transform: rotate(-55deg);
    margin-top: -5px;
    margin: -5px 0 0 18px;
}

#play_pause .bar.play#three {
    transform-origin: top left;
    transform: rotate(55deg);
    /* margin-top: 17px; */
    margin: 10px 0 0 18px;
}

/* volume control */
#volume {
    /* width: 30px; */
    width: 30px;
    height: 30px;
    margin: 0px 0 0 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#volume p {
    font-size: 15px;
    font-family: 'Quicksand';
}

#volume:hover #volumeSlider, #volumeSlider:focus, #volumeSlider:hover, #volumeSlider:active {
    width: 150px;
}

#volumeSlider{
    width: 0px;
    height: 20px;
    margin: 0px 0 0 32px;
    transition: width 0.2s;
    position: absolute;
}

#volumeSlider::-webkit-slider-thumb {
    width: 20px;
    height: 45px;
    box-shadow: -1000px 0 0 1000px #f1737f;
}
